body {
	background-color: #6485c1;
}

.container {
	padding-top: 5rem;
}

.exit {
    margin-top: 14px;
    font-size: 25px !important;
}

.panel-title {
	font-size: 36px !important;
}

.panel-title .badge {
	font-size: 20px;
}

.btn {
	border: none;
	font-size: 16px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
}

.btn-success {
	background-color: #0080b1;
}
.btn-success:hover {
	background-color: #0080b1;
}

.btn-primary {
	background-color: #e7b508;
}

.btn-primary:hover {
	background-color: #e7b508;
}

.list-group-item .pull-left{
	padding: 8px;
	font-size: 16px;
}

.logout {
	border: none;
    background: transparent;
}