<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.url">jdbc:mysql://7.214.8.14:3306/GEDO_GED</property>

		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>

		<property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		<property name="hibernate.current_session_context_class">org.springframework.orm.hibernate4.SpringSessionContext</property>

		<property name="connection.username">egov</property>
		<property name="connection.password">egov</property>
		<!-- DB schema will be updated if needed -->
		<property name="show_sql">false</property>
		<property name="format_sql">false</property>

	</session-factory>
</hibernate-configuration>